*.udb
*.o
.DS_Store
sparc-EVA
sparc
.vscode
dev_tests/
*~
*#*
*#*#
*.swp

/conda/
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.aux
/doc/.LaTeX/**/*.vrb
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.log
/doc/.LaTeX/**/auto/
/doc/.LaTeX/Manual.pdf*
/doc/.LaTeX/**/*.synctex*
/doc/.LaTeX/*.pdf

/tests/Socket_tests/**/sparc.log
/tests/Socket_tests/**/*.out*
/tests/Socket_tests/**/*.static*
/tests/Socket_tests/**/*.geopt*
/tests/Socket_tests/**/*.restart*
/tests/Socket_tests/**/*.aimd*
/tests/Socket_tests/**/*.static*
/tests/Socket_tests/**/*.inpt
/tests/Socket_tests/**/*.ion
/tests/Socket_tests/**/*.psp8
/tests/Socket_tests/**/*.extxyz
/tests/Socket_tests/**/*.ipynb
/tests/Socket_tests/**/*.traj
.ipynb_checkpoints/
__pycache__/
/README.html
